.sheet, .sheet td {
    border: 1px solid grey;
    border-collapse: collapse;
}

.sheet td {
    padding: 3px;
    min-width: 50px;
}

.sheet input {
    border: none;
    outline: none;
}

.sheet thead, .sheet thead input {
    background:#e1e3e6;
}

.colInput {
    background-color: white !important;
}